@model AppointmentListContext

<div class="container">

    <div class="row mt-2">

        <div class="col-12" align="center">
            <h2>Pick A Time</h2>
        </div>

    </div>

    <div class="row" align="center">

        <div class="col-6 card m-auto p-3" align="center">
            
            <table class="table table-bordered table-striped">
                
                <tbody>
                    <tr><td colspan="2"><strong>Monday</strong></td></tr>

                    
                        @foreach (var t in Model.TimeSlots.Where(ts => ts.DayOfWeek == "Monday"))
                        {
                <tr>
                    <td>@t.Time</td>
                    <td>
                        <form asp-action="Form" method="post">
                            <input type="hidden" value="@t.Time" />
                            <span class="cart-text p-1">
                                <button type="submit" class="btn btn-primary" style="float:right">
                                    Reserve
                                </button>
                            </span>
                        </form>
                    </td>
                </tr>
                   }
                

                    <tr><td colspan="2"><strong>Tuesday</strong></td></tr>

                    
                        @foreach (var t in Model.TimeSlots.Where(ts => ts.DayOfWeek == "Tuesday"))
                        {
                <tr>
                    <td>@t.Time</td>
                    <td>
                        <form asp-action="Form" method="post">
                            <input type="hidden" value="@t.Time" />
                            <span class="cart-text p-1">
                                <button type="submit" class="btn btn-primary" style="float:right">
                                    Reserve
                                </button>
                            </span>
                        </form>
                    </td>
                </tr>
                }
                

                    <tr><td colspan="2"><strong>Wednesday</strong></td></tr>

                    
                        @foreach (var t in Model.TimeSlots.Where(ts => ts.DayOfWeek == "Wednesday"))
                        {
                <tr>
                    <td>@t.Time</td>
                    <td>
                        <form asp-action="Form" method="post">
                            <input type="hidden" value="@t.Time" />
                            <span class="cart-text p-1">
                                <button type="submit" class="btn btn-primary" style="float:right">
                                    Reserve
                                </button>
                            </span>
                        </form>
                    </td>
                </tr>
                }
               

                    <tr><td colspan="2"><strong>Thursday</strong></td></tr>

                    
                        @foreach (var t in Model.TimeSlots.Where(ts => ts.DayOfWeek == "Thursday"))
                        {
                <tr>
                    <td>@t.Time</td>
                    <td>
                        <form asp-action="Form" method="post">
                            <input type="hidden" value="@t.Time" />
                            <span class="cart-text p-1">
                                <button type="submit" class="btn btn-primary" style="float:right">
                                    Reserve
                                </button>
                            </span>
                        </form>
                    </td>
                </tr>
                }
                

                    <tr><td colspan="2"><strong>Friday</strong></td></tr>

                    
                        @foreach (var t in Model.TimeSlots.Where(ts => ts.DayOfWeek == "Friday"))
                        {
                <tr>
                    <td>@t.Time</td>
                    <td>
                        <form asp-action="Form" method="post">
                            <input type="hidden" value="@t.Time" />
                            <span class="cart-text p-1">
                                <button type="submit" class="btn btn-primary" style="float:right">
                                    Reserve
                                </button>
                            </span>
                        </form>
                    </td>
                </tr>
                }
                

                    <tr><td colspan="2"><strong>Saturday</strong></td></tr>

                    
                        @foreach (var t in Model.TimeSlots.Where(ts => ts.DayOfWeek == "Saturday"))
                        {
                <tr>
                    <td>@t.Time</td>
                    <td>
                        <form asp-action="Form" method="post">
                            <input type="hidden" value="@t.Time" />
                            <span class="cart-text p-1">
                                <button type="submit" class="btn btn-primary" style="float:right">
                                    Reserve
                                </button>
                            </span>
                        </form>
                    </td>
                </tr>
                }
                

                    <tr><td colspan="2"><strong>Sunday</strong></td></tr>

                    
                        @foreach (var t in Model.TimeSlots.Where(ts => ts.DayOfWeek == "Sunday"))
                        {
                <tr>
                    <td>@t.Time</td>
                    <td>
                        <form asp-action="Form" method="post">
                            <input type="hidden" value="@t.Time" />
                            <span class="cart-text p-1">
                                <button type="submit" class="btn btn-primary" style="float:right">
                                    Reserve
                                </button>
                            </span>
                        </form>
                    </td>
                </tr>
                }
                

                </tbody>
            </table>
        </div>

    </div>

</div>



